.card {
  position: relative;
  background-color: var(--mantine-color-body);
  overflow: visible;
}

.rating {
  position: absolute;
  top: var(--mantine-spacing-xs);
  right: 0.75rem;
  pointer-events: none;
}

.title {
  display: block;
  margin-top: var(--mantine-spacing-md);
  margin-bottom: 0.4375rem;
  color: var(--mantine-color-bright);
  font-weight: 500;
}

.image {
  border-top-left-radius: var(--mantine-radius-md);
  border-top-right-radius: var(--mantine-radius-md);
  margin-left: -0.0625rem;
  margin-right: -0.0625rem;
  margin-top: -0.0625rem;
  width: calc(100% + 0.125rem);
}

.action {
  background-color: light-dark(var(--mantine-color-default), var(--mantine-color-default));
}

.action:hover {
  background-color: light-dark(var(--mantine-color-default-border), var(--mantine-color-default));
}

.footer {
  margin-top: var(--mantine-spacing-md);
}
