.card {
  position: relative;
  overflow: visible;
  padding: var(--mantine-spacing-xl);
  padding-top: calc(var(--mantine-spacing-xl) * 1.5 + 1.25rem);
}

.icon {
  position: absolute;
  top: -1.25rem;
  left: calc(50% - 1.875rem);
}

.title {
  line-height: 1;
}
