.navbar {
  background-color: var(--mantine-color-body);
  height: 100dvh;
  width: 18.75rem;
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--mantine-color-default-border);
}

.navbarMain {
  flex: 1;
  margin-top: var(--mantine-spacing-xl);
}

.title {
  text-transform: uppercase;
  letter-spacing: -0.015625rem;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-text), var(--mantine-color-text));
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;
}

.link:hover {
  background-color: var(--mantine-color-default);
  color: var(--mantine-color-text);
}

.link:hover .linkIcon {
  color: var(--mantine-color-text);
}

.link[data-active],
.link[data-active]:hover {
  background-color: var(--mantine-primary-color-light);
  color: var(--mantine-color-blue-light-color);
}

.link[data-active] .linkIcon {
  color: var(--mantine-color-blue-light-color);
}

.linkIcon {
  color: var(--mantine-color-dimmed);
  margin-right: var(--mantine-spacing-sm);
  width: 1.5625rem;
  height: 1.5625rem;
}

.footer {
  border-top: 1px solid var(--mantine-color-default-border);
  padding-top: var(--mantine-spacing-md);
}
