.icon {
  width: 1.375rem;
  height: 1.375rem;
}

[data-mantine-color-scheme='light'] .dark {
  display: block;
}

[data-mantine-color-scheme='dark'] .dark {
  display: none;
}

[data-mantine-color-scheme='light'] .light {
  display: none;
}

[data-mantine-color-scheme='dark'] .light {
  display: block;
}
