.header {
  height: 3.5rem;
  margin-bottom: 7.5rem;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid var(--mantine-color-default-border);
}

.inner {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  display: block;
  line-height: 1;
  padding: 0.5rem 0.75rem;
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: var(--mantine-color-text);
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
}

.link:hover {
  background-color: var(--mantine-color-default);
}

.link[data-active] {
  background-color: var(--mantine-primary-color-filled);
  color: var(--mantine-color-white);
}

@media (max-width: 36em) {
  .link {
    border-radius: 0;
    padding: var(--mantine-spacing-md);
  }
}
