.item {
  background-color: var(--mantine-color-body);
}

.dragHandle {
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--mantine-color-dimmed);
}
