.wrapper {
  position: relative;
  padding-top: 7.5rem;
  padding-bottom: 5rem;

  @media (max-width: 48em) {
    padding-top: 5rem;
    padding-bottom: 3.75rem;
  }
}

.inner {
  position: relative;
  z-index: 1;
}

.dots {
  position: absolute;
  color: var(--mantine-color-default-border);

  @media (max-width: 48em) {
    display: none;
  }
}

.title {
  text-align: center;
  font-weight: 800;
  font-size: 2.5rem;
  letter-spacing: -0.0625rem;
  color: var(--mantine-color-text);
  margin-bottom: var(--mantine-spacing-xs);

  @media (max-width: 36em) {
    font-size: 1.75rem;
    text-align: left;
  }
}

.highlight {
  color: light-dark(var(--mantine-primary-color-filled), var(--mantine-primary-color-filled));
}

.description {
  text-align: center;

  @media (max-width: 36em) {
    text-align: left;
    font-size: var(--mantine-font-size-md);
  }
}

.controls {
  margin-top: var(--mantine-spacing-lg);
  display: flex;
  justify-content: center;

  @media (max-width: 36em) {
    flex-direction: column;
  }
}

.control {
  &:not(:first-of-type) {
    margin-left: var(--mantine-spacing-md);
  }

  @media (max-width: 36em) {
    height: 2.625rem;
    font-size: var(--mantine-font-size-md);

    &:not(:first-of-type) {
      margin-top: var(--mantine-spacing-md);
      margin-left: 0;
    }
  }
}
