.navbar {
  width: 5rem;
  height: 100dvh;
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--mantine-color-default-border);
}

.navbarMain {
  flex: 1;
  margin-top: 3.125rem;
}

.link {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mantine-color-text);
}

.link:hover {
  background-color: light-dark(var(--mantine-color-default), var(--mantine-color-default));
}

.link[data-active],
.link[data-active]:hover {
  background-color: var(--mantine-primary-color-light);
  color: var(--mantine-color-blue-light-color);
}
