.card {
  background-color: var(--mantine-color-body);
}

.label {
  font-weight: 700;
  line-height: 1;
}

.lead {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1;
}

.inner {
  display: flex;
}

@media (max-width: 36em) {
  .inner {
    flex-direction: column;
  }
}

.ring {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 36em) {
  .ring {
    justify-content: center;
    margin-top: var(--mantine-spacing-md);
  }
}
