.wrapper {
  padding: calc(var(--mantine-spacing-xl) * 2) var(--mantine-spacing-xl);
}

.title {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1.1;
  margin-bottom: var(--mantine-spacing-md);
  color: var(--mantine-color-text);
}
