.header {
  height: 3.75rem;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  border-bottom: 1px solid var(--mantine-color-default-border);
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  text-decoration: none;
  color: var(--mantine-color-text);
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);
}

.link:hover {
  background-color: var(--mantine-color-default);
}

.subLink {
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
}

.subLink:hover {
  background-color: var(--mantine-color-default-hover);
}

.dropdownFooter {
  background-color: var(--mantine-color-default-hover);
  margin: calc(var(--mantine-spacing-md) * -1);
  margin-top: var(--mantine-spacing-sm);
  padding: var(--mantine-spacing-md) calc(var(--mantine-spacing-md) * 2);
  padding-bottom: var(--mantine-spacing-xl);
  border-top: 1px solid var(--mantine-color-default-border);
}

@media (max-width: 48em) {
  .link {
    height: 2.625rem;
    width: 100%;
  }
}
