.wrapper {
  display: flex;
  background-color: var(--mantine-color-body);
  border-radius: var(--mantine-radius-lg);
  padding: 0.25rem;
  border: 1px solid
    light-dark(var(--mantine-color-default-border), var(--mantine-color-default-border));

  @media (max-width: 48em) {
    flex-direction: column;
  }
}

.form {
  flex: 1;
  padding: var(--mantine-spacing-xl);
  padding-left: calc(var(--mantine-spacing-xl) * 2);
  border-left: 0;

  @media (max-width: 48em) {
    padding: var(--mantine-spacing-md);
    padding-left: var(--mantine-spacing-md);
  }
}

.fields {
  margin-top: -0.75rem;
}

.contacts {
  box-sizing: border-box;
  position: relative;
  border-radius: var(--mantine-radius-lg);
  background-image: linear-gradient(
    -60deg,
    var(--mantine-primary-color-filled) 0%,
    var(--mantine-primary-color-filled-hover) 100%
  );
  border: 1px solid transparent;
  padding: var(--mantine-spacing-xl);
  flex: 0 0 17.5rem;

  @media (max-width: 48em) {
    margin-bottom: var(--mantine-spacing-sm);
    padding-left: var(--mantine-spacing-md);
  }
}

.title {
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);

  @media (max-width: 48em) {
    margin-bottom: var(--mantine-spacing-xl);
  }
}

.control {
  @media (max-width: 48em) {
    flex: 1;
  }
}
